<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Coding Languages</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>JAVA</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
    
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Python 3.x</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>PHP</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Javascript</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->

              <!-- .skillbar -->
              <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>C / C++</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->

              <!-- .skillbar -->
              <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>Dart</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">FRONT-END SKILLS</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>HTML</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>CSS</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Jquery</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
            
             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>Blade</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar --> 

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>Flutter</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar --> 

            <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Wordpress</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar --> 
        </div>
        
         
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">BACK-END SKILLS</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
        <div class="skills">       
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Django</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>Laravel</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>REST FRAMEWORK</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
            
		</div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Hobbies Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Music</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title"><span>Hiking</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>Reading</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>Transverse Fields</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Language Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>English</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="100%">
                <div class="skillbar-title"><span>Spanish</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">100%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="#">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Web Developer <span class="duration"><i class="fa fa-calendar color"></i> 2019 - 2020</span></h5>
                <h6><span class="fa fa-briefcase"></span>Sappito Technologies C.A</h6>
                <p>Full Stack Developer Presencial <br>Caracas - Venezuela <br>Web Development, Backend Development and Mobile Development</p>
            </li>

            <li>
                <h5>Mobile Developer <span class="duration"><i class="fa fa-calendar color"></i> 2016 - 2019</span></h5>
                <h6><span class="fa fa-briefcase"></span> Binary Phoenix</h6>
                <p>Lead Developer  Remote <br>Caracas -  Venezuela. Lima - Peru. <br> Wordpress and Android Development</p>
            </li>

            <li>
                <h5>Front-End Developer <span class="duration"><i class="fa fa-calendar color"></i> 2018 - 2019</span></h5>
                <h6><span class="fa fa-briefcase"></span> Mass Real</h6>
                <p>Web Designer  Remote <br>Caracas -  Venezuela. Lima - Peru. <br> Wordpress Design and Administration</p>
            </li>

            <li>
                <h5>Consultor and Prototyping <span class="duration"><i class="fa fa-calendar color"></i> 2016 - 2016</span></h5>
                <h6><span class="fa fa-briefcase"></span> Binary Phoenix</h6>
                <p>Expert Consultant  Remote <br> Caracas -  Venezuela. Atlanta - EEUU. <br> Academic Algorithmic Consultant,</p>
            </li>
            
            <li>
                <h5>Administration and Support <span class="duration"><i class="fa fa-calendar color"></i> 2006 - 2013</span></h5>
                <h6><span class="fa fa-briefcase"></span> Psycho Servicios</h6>
                <p>IT Specialist . Caracas -  Venezuela. <br> Software configuration, Assembly, Support</p>
            </li>
            
            <li>
                <h5>Business Owner<span class="duration"><i class="fa fa-calendar color"></i> 2002 - 2006</span></h5>
                <h6><span class="fa fa-briefcase"></span> Dnn Computers</h6>
                <p>Administration . Caracas -  Venezuela. <br> Computer Assembly, It Support. Administration</p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Flutter <span class="duration"><i class="fa fa-calendar color"></i> 2020 - 2020</span></h5>
                <h6><span class="fa fa-book"></span> Udemy</h6>
                <p>Course promotioned by SappitoTech "Flutter and Dart The complete guide (2020 Edition)"</p>
                <p>Course promotioned by SappitoTech "Python and Django Full Stack Web Developer"</p>
            </li>
            
            <li>
                <h5>Android Native <span class="duration"><i class="fa fa-calendar color"></i>2016 - 2016</span></h5>
                <h6><span class="fa fa-book"></span> Udemy</h6>
                <p>Course promotioned by Mass Real State "Learn Android by doing 12 projects"</p>
            </li>   

            <li>
                <h5>Computer Science Enginner<span class="duration"><i class="fa fa-calendar color"></i>2012 - Present</span></h5>
                <h6><span class="fa fa-book"></span> Universidad Central de Venezuela</h6>
                <p>Data Structures - OOP Languages ( Java, C ,C++, C#) - Complexity Analysis - Databases  </p>
            </li>

            <li>
                <h5>Technical Courses <span class="duration"><i class="fa fa-calendar color"></i> 2012 - 2018</span></h5>
                <h6><span class="fa fa-book"></span> Universidad Central de Venezuela</h6>
                <p>Big Data for Business Lean Startup - Business Modeling - Technological Innovation - Unity3d - Oracle DBA</p>
            </li>

            <li>
                <h5>Diverse Configuration Courses <span class="duration"><i class="fa fa-calendar color"></i> 1998 - 2002</span></h5>
                <h6><span class="fa fa-book"></span> Academia Americana - Instituto Alejandro de Humboldt </h6>
                <p>Network Instalation - Computer Assembly - SO Administration - Server Instalation</p>
            </li>


        </ul>
        <!-- /.attributes -->
        <br>         
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
  
<!-- client reference -->
<div class="row">
<div class="col-md-12">   
    
<div class="reference clearfix"> 
            
         <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Client reference</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        

        <ul>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“Many desktop publishing packages and web page editors now use Lorem Ipsum as their default will model text, and a search for 'lorem ipsum' hope is uncover many web sites still”</p>
                <span>John Doe, UX Designer</span>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“very nice colleague she always helped me out if i didnt know something editors now use Lorem Ipsum as their default”</p>
                <span>Leia Calvi, UX Designer</span>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“old colleague and now close friend, she is really sweet and helpfull packages and web page editors now use Lorem Ipsum as their default will model text”</p>
                <span>Maria Callas, UX Designer</span>
            </li>
        </ul>
</div>
</div>

     
<div style="clear: both"></div>   
</div>

</div>
<!-- End .resume -->