
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> 
<html lang="no-js"> <!--<![endif]-->  
{% include head.html %}

<body>
   <video id="background-effect" autoplay muted loop playsinline>
      <source src="assets/video/bg.webm" type="video/webm">
      <source src="assets/video/bg.mp4" type="video/mp4">
   </video>
     
      {{content}}
      <!-- </div> -->
 
<!-- {% include footer.html %} -->
 
{% include scripts.html %}
</body>
</html> 

